<div class="jumbotron" id="survey-header">
	<h3 id="header-text">Feedback list</h3>
</div>
<% if @feedback.count > 0 %>
<div align="right">
	<%= link_to "CSV", getfeedback_path(format: "csv"), class: 'btn btn-primary', id: 'csv-button' %>
	<%= link_to 'Delete all', secretdestroyfeed_path, method: :post, class: 'btn btn-primary', id: 'destroy-button', data: { confirm: 'Are you sure you want to delete all the feedback?' } %>
</div>
<% @feedback.each do |f| %>
<div class="well well-sm" id="well-background">
	<div class="panel panel-default">
		<div class="panel-heading">Name:</div>
			<div class="panel-body">
				<%= f.name %>
			</div>
		</div>
	<div class="panel panel-default">
		<div class="panel-heading">How would you rate my performance?</div>
			<div class="panel-body">
				<%= f.question_one %>
			</div>
		</div>
	<div class="panel panel-default">
		<div class="panel-heading">What have I been doing well at?</div>
			<div class="panel-body">
				<%= f.question_two %>
			</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">What could I improve at?</div>
			<div class="panel-body">
				<%= f.question_three %>
				</div>
		</div>
	<div class="panel panel-default">
		<div class="panel-heading">Do you think I have effectively planned and managed my own time? If yes, how have I done this?</div>
			<div class="panel-body">
				<%= f.question_four %>
			</div>
		</div>
	<div class="panel panel-default">
		<div class="panel-heading">Could you provide an example of when I have recognised and respected diversity and individuals differences & perspective?</div>
			<div class="panel-body">
				<%= f.question_six %>
				</div>
			</div>
	<div class="panel panel-default">
		<div class="panel-heading">Can you think of any time where I have accepted and provided feedback in a constructive and considerate way?</div>
			<div class="panel-body">
				<%= f.question_seven %>
				</div>
			</div>
</div>
<div id="line-break"></div>
<% end %>
<% else %>
<div align="center">
<h1 id="feedback-none">You have recieved no feedback yet</h1>
<%= link_to 'back to homepage', root_path %>
<% end %>
