<div class="jumbotron" id="survey-header">
	<h3 id="header-text">Feedback</h3>
</div>
<%= form_for @question do |q| %>
<div id="survey-body">
	<div align="center">
		<span class="help-block">
		   On the questions below please select between 1-10, 1 being the lowest 10 being the highest.<br> Each question can be answered overwise you can not submit your feedback.</span>

  <span id="survey-questions">Name.</span>
  <%= q.text_field(:name, placeholder: 'Enter your name') %><hr />

	<span id="survey-questions">How would you rate my performance?</span>
  <%= q.select(:question_one, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])) %><hr />

	<span id="survey-questions">What have I been doing well at?</span><br>
  <%= q.text_area(:question_two, rows: 4, cols: 50, placeholder: 'enter comment') %><hr />

	<span id="survey-questions">What could I improve at?</span><br>
  <%= q.text_area(:question_three, rows: 4, cols: 50, placeholder: 'enter comment') %><hr />

  <span id="survey-questions">Do you think I have effectively planned and managed my own time? If yes, how have I done this? If no skip this question.</span><br>
  <%= q.text_area(:question_four, rows: 4, cols: 50, placeholder: 'enter comment') %><hr />

  <span id="survey-questions">Could you provide an example of when I have recognised and respected diversity and individuals differences & perspective?</span><br>
  <%= q.text_area(:question_six, rows: 4, cols: 50, placeholder: 'enter comment') %><hr />

  <span id="survey-questions">Can you think of any time where I have accepted and provided feedback in a constructive and considerate way?</span><br>
  <%= q.text_area(:question_seven, rows: 4, cols: 50, placeholder: 'enter comment') %><br>

  <%= q.submit(class: 'btn btn-lg btn-primary', :disabled => @questions.count >= 15) %>
  <div class="help-block">If this button is disabled this means that everyone has done the survey, which means no one else can give anymore feedback.</div>
</div>
<% end %>
</div>
